In [4]:
import pandas as pd
import numpy as np
obj = pd . Series ([7 ,4 , -5 ,3])
display ( obj )
display ( obj . array )
display ( obj . index ) # Por default , los indices van de 0 a N -1.

0    7
1    4
2   -5
3    3
dtype: int64

<NumpyExtensionArray>
[7, 4, -5, 3]
Length: 4, dtype: int64

RangeIndex(start=0, stop=4, step=1)

In [5]:
obj2 = pd . Series ([ np . pi ,0 , -2 ,1.41] , index = ["d", "b", "c", "a"])
display ( obj2 )
display ( obj2 . array )
display ( obj2 . index )

d    3.141593
b    0.000000
c   -2.000000
a    1.410000
dtype: float64

<NumpyExtensionArray>
[3.141592653589793, 0.0, -2.0, 1.41]
Length: 4, dtype: float64

Index(['d', 'b', 'c', 'a'], dtype='object')

In [9]:
obj2 ["a"]
obj2 [3]
obj2 [1:3]
obj3 = obj2 [["a","b"]]
obj3
obj3.index
obj2[ obj2 >1]

C:\Users\luciomaspero\AppData\Local\Temp\ipykernel_30324\4003676245.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  obj2 [3]

d    3.141593
a    1.410000
dtype: float64

In [10]:
np . exp ( obj2 )
obj2 * 3

d    9.424778
b    0.000000
c   -6.000000
a    4.230000
dtype: float64

In [15]:
series1 = pd . Series (["a", "b", "c", "b", "a", "c", "c", "x"]) #crea una serie pandas
series1 . isin (["b", "c"]) #evalua posicion a posicion si el valor esta dentro de ["b", "c"] 
series1 . value_counts ()

c    3
a    2
b    2
x    1
Name: count, dtype: int64

In [81]:
data = {"nombre": ["Rodrigo", "Sergio", "Cristina", "Diana"] , "altura":
np . array ([178 , 172 , 175 , 168]) , "peso": np . array ([81.2 , 76.1 , 68.5 ,
64.0]) }
display ( data )
pacientes = pd . DataFrame ( data ) . set_index ("nombre")
display ( pacientes )

{'nombre': ['Rodrigo', 'Sergio', 'Cristina', 'Diana'],
 'altura': array([178, 172, 175, 168]),
 'peso': array([81.2, 76.1, 68.5, 64. ])}

          altura  peso
nombre
Rodrigo      178  81.2
Sergio       172  76.1
Cristina     175  68.5
Diana        168  64.0

In [70]:
"""¿Cual es la clase del objeto pacientes? ¿Cual es la clase de cada uno de los vectores columna?
(para saber la clase de un objeto, utilizar el comando type, para saber el tipo de datos de un
array de numpy, utilizar np.dtype)"""

display(
    type(pacientes),
    #np.dtype(pacientes['nombre']),
    np.dtype(pacientes['altura']),
    np.dtype(pacientes['peso'])
)

pandas.core.frame.DataFrame

dtype('int32')

dtype('float64')

In [73]:
"""Guardar en una variable nueva el vector columna altura. Pueden utilizar pacientes["altura"]
o pacientes.altura (la primera opci´on es preferible, la segunda puede dar error si el nombre
coincide con alguna funci´on ya existente)."""


alturas = pacientes['altura']
alturas2 = pacientes.altura

In [83]:
#pacientes["Rodrigo"].altura
pacientes["altura"].Rodrigo

178

In [84]:
#pip install gapminder
from gapminder import gapminder
"""
Esto crea un nuevo objeto gapminder. Pueden ver el contenido con el comando con algunos de
estos comandos: display(gapminder), gapminder.info(), gapminder.head(), gapminder.tail().
"""

In [94]:
"""¿De qu´e clase es el objeto gapminder? ¿Qu´e variables tiene el DataFrame gapminder y de qu´e
clase son? ¿Qu´e ´ındices usa?"""

display(gapminder.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

None

In [99]:
#Explorar el tama˜no del DataFrame gapminder usando la funci´on shape.

(6,)